<div width=10%>
		{{models-table
			data=model
			columns=columns
			showColumnsDropdown=false
			showCurrentPageNumberSelect=false
			showPageSize=false
			filteringIgnoreCase=true
			showComponentFooter=false
		}}
</div>